:root {
  /* colors */
  --color--yellow: #fbd341;
  --color--white: #fff;
  --color--light: #f7f8f9;
  --color--black: #000;

  /* font-family */
  --inter: Inter;
}

body {
  /* background-color: var(--white); */

  font-family: "Inter";
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

li {
  list-style: none;
}

/* Контейнер */
.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 15px 0% 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1142px) {
    width: 1142px;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
ul,
p,
button {
  margin: 0%;
  padding: 0%;
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
.header {
  padding: 6px 0 26px 0;
  background-image: url(../images/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* header__box */
.header__box {
  display: flex;
  justify-content: space-between;
}

/* header__wrap */

.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  margin-bottom: 233px;
}

.header__list {
  display: flex;
}

.header__part {
  margin-right: 25px;
}

.header__item,
.header__link {
  display: flex;
  margin-right: 36px;

  color: #f3f3f3;
}

.header__img {
  margin-right: 13px;
}

.header__element {
  color: #eee;
}

/* navigation */
.header__nav {
  display: flex;
  background-color: var(--color--yellow);
  padding: 11px 22px 11px 25px;
  border-radius: 5px;
}

.header__nav--home {
  margin-right: 58px;
}

.header__nav--tour {
  margin-right: 7px;
}

.header__nav--select {
  margin-right: 51px;
}

.header__nav--country {
  margin-right: 61px;
}

.header__nav--service {
  margin-right: 5px;
}

.header__nav--select__current {
  margin-right: 35px;
}

.header__nav--company {
  margin-right: 40px;
}

.header__nav--button,
.header__nav--link {
  font-family: var(--inter);
  font-size: 18px;

  padding: 0;
  color: var(--color--black);
  background-color: var(--color--yellow);
  border: none;
  cursor: pointer;
}

select {
  width: 15px;
  background-color: var(--color--yellow);
  border: none;
}

/* header__wrapper */
.header__wrapper {
  font-size: 30px;

  display: inline-block;
  padding: 57px 103px 45px 220px;
  margin-bottom: 139px;
  color: var(--color--white);

  background-image: url(../images/backgroundSacondary.jpg);
}

.header__wrapper--title {
  font-size: 30px;
  font-weight: 400;

  margin-bottom: 42px;
}

.header__wrapper--button {
  font-family: var(--inter);
  font-size: 18px;

  padding: 12px 15px 14px 28px;
  background-color: var(--color--yellow);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* header__inner */
.header__inner {
  display: flex;
  gap: 14px;
}

.header__inner--ellipse,
.header__inner--ellipse__current {
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--color--white);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header__inner--ellipse__current {
  background-color: var(--color--yellow);
}

/* Main */
.tours {
  padding: 67px 0 75px 0;
}

/* tours__list */
.tours__list {
  display: flex;
  gap: 31px;
  margin-bottom: 70px;
}

.tours__list--button,
.tours__list--button__current {
  font-family: var(--inter);
  font-size: 20px;

  background-color: var(--color--white);
  border: none;
  cursor: pointer;
}

.tours__list--button__current {
  color: var(--color--yellow);
}

/* tours__wrapper */
.tours__wrapper {
  display: flex;
  /* flex-wrap: wrap;
  gap: 71px; */
}

.tours__wrapper--list {
  width: 519px;
}

.tours__wrapper--box {
  display: flex;
  gap: 27px;
  align-items: center;

  padding: 13px 15px 13px 14px;
  background-color: #f8f7f7;
  border-radius: 5px;
}

.tours__wrapper--img {
  border-radius: 5px;
}

.tours__wrapper--title {
  font-size: 17px;
  font-weight: 400;

  margin-bottom: 2px;
}

.tours__wrapper--subtitle,
.tours__wrapper--subtitle__current {
  margin-bottom: 10px;
  color: #3a3a3a;
}
.tours__wrapper--subtitle__current {
  margin-bottom: 0;
  margin-bottom: 25px;
}

.tours__wrapper--border {
  display: block;
  width: 270px;
  height: 1px;

  margin-bottom: 13px;
  color: #6a6a6a;
  border-top: 1px solid;
}

.tours__wrapper--cart {
  display: flex;
  justify-content: space-between;
}

.tours__wrapper--item {
  font-size: 20px;

  display: flex;
  gap: 3px;
}

.tours__wrapper--item__el {
  font-size: 11px;

  color: #8a8a8a;
}

.tours__wrapper--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--color--yellow);
}

/* advantages */
.advantages {
  padding: 38px 0 75px 0;
  background-color: #f8f7f7;
}

.advantages__title {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;

  margin-bottom: 56px;
}

.advantages__box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 91px;
}

.advantages__wrap {
  display: flex;
}

.advantages__subtitle {
  font-size: 16px;
  width: 571px;
}

.advantages__element {
  display: block;
  width: 192px;
  margin-bottom: 13px;
  color: #6a6a6a;
  border-top: 1px solid;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  right: -10%;
}

/* offer */
.offer {
  background-image: url(../images/group.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 42px 0;
}

.offer__title {
  font-size: 24px;
  font-weight: 400;

  margin-bottom: 33px;
  text-transform: uppercase;
  color: var(--color--white);
}

.offer__list {
  display: flex;
  align-items: center;

  padding: 44px 29px 39px 39px;
  background-color: rgba(0, 0, 0, 0.5);
}

.offer__part {
  font-size: 18px;
  color: #e6e6e6;
}
.offer__part:nth-child(1) {
  margin-right: 30px;
}
.offer__part:nth-child(2) {
  margin-right: 33px;
}
.offer__part:nth-child(3) {
  margin-right: 55px;
}

.offer__part--name,
.offer__part--email,
.offer__part--tel {
  display: block;
  width: 138px;
  margin-top: 4px;

  border-top: 1px solid var(--color--white);
  opacity: 0.4;
}

.offer__part--email {
  width: 189px;
}

.offer__part--tel {
  width: 152px;
}

.offer__select {
  margin-right: 59px;

  color: var(--color--white);
  background-color: inherit;
  opacity: 0.4;
}

.offer__select option {
  background-color: var(--color--white);
  color: var(--color--black);
}

/* Footer */
.footer {
  padding: 51px 0 11px 0;
  background-color: #22334d;
}

.footer__box {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 334px;
}

.footer__logo--link {
  display: block;
  margin-bottom: 28px;
}

.footer__logo--item {
  margin-bottom: 17px;
  color: var(--color--white);
}

.footer__logo--item__top {
  display: block;
  width: 293px;

  margin-bottom: 20px;
  border-bottom: 1px solid var(--color--light);
  opacity: 0.4;
}

.footer__logo--item__bottom {
  display: block;
  width: 293px;

  margin-top: 28px;
  opacity: 0.4;
  border-top: 1px solid var(--color--light);
}

.footer__logo--logo {
  display: flex;
  color: #c2c2c2;
}

.footer__logo--logo__el {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* footer__nav */
.footer__nav {
  display: flex;
}

.footer__nav--title {
  font-size: 18px;
  font-weight: 400;

  margin-bottom: 36px;
  color: var(--color--white);
}

.footer__nav--list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footer__nav--link {
  color: var(--color--white);
}

/* footer__support */
.footer__contacts--list {
  display: block;
}

.footer__contacts--item {
  margin-bottom: 15px;
}

.footer__contacts--element {
  display: block;
  width: 242px;

  margin-top: 21px;
  margin-bottom: 20px;
  border-top: 1px solid var(--color--light);
  opacity: 0.4;
}

.footer__contacts--part {
  display: flex;
  gap: 25px;
}
