.advantages {
  padding: 38px 0 75px 0;
  background-color: #f8f7f7;
}

.advantages__title {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;

  margin-bottom: 56px;
}

.advantages__box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 91px;
}

.advantages__wrap {
  display: flex;
}

.advantages__subtitle {
  font-size: 16px;
  width: 571px;
}

.advantages__element {
  display: block;
  width: 192px;
  margin-bottom: 13px;
  color: #6a6a6a;
  border-top: 1px solid;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  right: -10%;
}