.header__wrapper {
  font-size: 30px;

  display: inline-block;
  padding: 57px 103px 45px 220px;
  margin-bottom: 139px;
  color: var(--color--white);

  background-image: url(../images/backgroundSacondary.jpg);
}

.header__wrapper--title {
  font-size: 30px;
  font-weight: 400;

  margin-bottom: 42px;
}

.header__wrapper--button {
  font-family: var(--inter);
  font-size: 18px;

  padding: 12px 15px 14px 28px;
  background-color: var(--color--yellow);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}